<!-- <div style="background-image: src('../../../assets/images/image1.jpg'); "> -->
    <img src="../../../assets/images/loginimg.jpg" class="img-responsive" alt="Cinque Terre" width="100%" height="60%" back> 
    <h1 style="text-align:center;margin-top: -40%;color:#3346FF;">Login page for admin</h1>
    
<form style="margin-left: 40%;margin-top: 2%;color:#CAE029">
    <label for="fname"><h5>Username:</h5></label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname"><h5>Password:</h5></label><br>
    <input type="password" id="password" name="password"><br><br>
    <button class="btn btn-primary">Submit</button>
  </form>
<!-- </div> -->