
  <!-- <div class="row">
    <div class="bg-image" id="jumboid">
    <img src="../../../assets/images/image1.jpg" class="img-responsive" alt="Cinque Terre" width="100%" height="60%" back> 
    </div> -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand">Covid Medical Service</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" routerLink="/user/doctorportal"><b>Home</b></a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" routerLink="/user/doctorportal/symptom">sent your problem</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" routerLink="/user/doctorportal/docres">check your solution</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </div> -->
 
  <nav class="navbar navbar-light bg-light px-6" style="margin-right: 0px;">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-weight: bold;margin-left: 30px;">Covid Medical Service</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width:300px">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="width:80%;font-size:25px" >Your options</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="font-size: 20px">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/user/doctorportal">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"  routerLink="/user/doctorportal/symptom">Your problem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/user/doctorportal/docres">Service</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>